@import 'reset.css';
@media (max-width: 768px) {
  body {
    display: grid;
    grid-template-columns: 0% 49% 49% 2%;
    grid-template-areas: "box1 box1 box1 box1" ". box2 box2 ." ". box3 box3 .";
    /* NAVIGATION */
    /* HEADER */
    /* MAIN */
    /* ASIDE */
  }
  body nav {
    position: fixed;
    grid-area: box1;
    width: 94%;
    height: 97px;
    padding-left: 3%;
    padding-right: 3%;
    background-color: #FFF;
    border-bottom: 2px solid #e9e9e9;
    color: #AEADAD;
  }
  body nav .buscador {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  body nav .buscador img {
    width: 50px;
  }
  body nav .buscador input {
    height: 25px;
    width: 78%;
    padding-left: 30px;
    border: 1px solid #f2f2f2;
    background-image: url("../images/search.png");
    background-repeat: no-repeat;
    background-position: left center;
  }
  body nav .navegacio {
    border-top: 1px solid #f2f2f2;
  }
  body nav .navegacio ul {
    display: flex;
    justify-content: space-between;
  }
  body nav .navegacio ul li {
    padding: 14px;
    font-size: 13px;
  }
  body nav .navegacio ul li img {
    width: 15px;
  }
  body nav .navegacio ul li:nth-child(1) {
    color: black;
    background-color: #f2f2f2;
  }
  body nav .navegacio ul li:nth-child(8),
body nav .navegacio ul li:nth-child(9),
body nav .navegacio ul li:nth-child(10) {
    display: none;
  }
  body header {
    display: none;
  }
  body main {
    width: 100%;
    grid-area: box3;
    margin-top: 100px;
    margin-bottom: 30px;
  }
  body main section article:nth-child(1) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 2%;
    margin-bottom: 30px;
    padding-top: 27px;
    background-color: #FFF;
  }
  body main section article:nth-child(1) > div:nth-child(1) {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 19px;
  }
  body main section article:nth-child(1) .separador {
    width: 100%;
    height: 1px;
    background-color: #f2f2f2;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  body main section article:nth-child(1) div:nth-child(3),
body main section article:nth-child(1) div:nth-child(5),
body main section article:nth-child(1) div:nth-child(7) {
    display: grid;
    justify-content: start;
    width: 100%;
    grid-template-columns: 100px 85%;
    grid-template-areas: "box1 box2" "box1 box3" "box1 box4";
  }
  body main section article:nth-child(1) div:nth-child(3) img,
body main section article:nth-child(1) div:nth-child(5) img,
body main section article:nth-child(1) div:nth-child(7) img {
    width: 80px;
    margin-right: 30px;
    grid-area: box1;
  }
  body main section article:nth-child(1) div:nth-child(3) h4,
body main section article:nth-child(1) div:nth-child(5) h4,
body main section article:nth-child(1) div:nth-child(7) h4 {
    grid-area: box2;
    width: 100%;
  }
  body main section article:nth-child(1) div:nth-child(3) p,
body main section article:nth-child(1) div:nth-child(5) p,
body main section article:nth-child(1) div:nth-child(7) p {
    grid-area: box3;
    width: 100%;
    color: #AEADAD;
  }
  body main section article:nth-child(1) div:nth-child(3) .elements,
body main section article:nth-child(1) div:nth-child(5) .elements,
body main section article:nth-child(1) div:nth-child(7) .elements {
    grid-area: box4;
    display: flex;
    align-items: center;
    width: 100%;
  }
  body main section article:nth-child(1) div:nth-child(3) .elements .likes,
body main section article:nth-child(1) div:nth-child(5) .elements .likes,
body main section article:nth-child(1) div:nth-child(7) .elements .likes {
    grid-area: box4;
    display: flex;
    align-items: center;
    width: 68px;
    height: 24px;
    border: 1px solid #e9e9e9;
    margin-right: 20px;
    border-radius: 4px;
  }
  body main section article:nth-child(1) div:nth-child(3) .elements .likes img,
body main section article:nth-child(1) div:nth-child(5) .elements .likes img,
body main section article:nth-child(1) div:nth-child(7) .elements .likes img {
    margin: 0;
    width: 25px;
    height: 40px;
  }
  body main section article:nth-child(1) div:nth-child(3) .elements .comments,
body main section article:nth-child(1) div:nth-child(5) .elements .comments,
body main section article:nth-child(1) div:nth-child(7) .elements .comments {
    grid-area: box5;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: left;
    width: 50px;
    height: 24px;
    border: 1px solid #e9e9e9;
    border-radius: 4px;
  }
  body main section article:nth-child(1) div:nth-child(3) .elements .comments img,
body main section article:nth-child(1) div:nth-child(5) .elements .comments img,
body main section article:nth-child(1) div:nth-child(7) .elements .comments img {
    width: 15px;
    height: 12px;
    margin-right: 5px;
  }
  body main section article:nth-child(1) div:nth-child(3) .elements .comments label,
body main section article:nth-child(1) div:nth-child(5) .elements .comments label,
body main section article:nth-child(1) div:nth-child(7) .elements .comments label {
    color: #AEADAD;
  }
  body main section article:nth-child(1) div:nth-child(3) .elements .phone,
body main section article:nth-child(1) div:nth-child(5) .elements .phone,
body main section article:nth-child(1) div:nth-child(7) .elements .phone {
    display: none;
  }
  body main section article:nth-child(1) div:nth-child(8) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    font-size: 14px;
    color: #AEADAD;
  }
  body main section article:nth-child(1) div:nth-child(8) img {
    width: 10px;
    margin-right: 5px;
  }
  body main section article:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2%;
    margin-bottom: 30px;
    background-color: #FFF;
  }
  body main section article:nth-child(2) > div:nth-child(1) {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 19px;
  }
  body main section article:nth-child(2) > div:nth-child(1) .pop-new {
    display: flex;
    justify-content: space-between;
    width: 130px;
    font-size: 14px;
  }
  body main section article:nth-child(2) > div:nth-child(1) .pop-new .separador {
    background-color: #AEADAD;
    height: 15px;
    width: 1px;
  }
  body main section article:nth-child(2) > div:nth-child(1) .pop-new p:nth-child(3) {
    color: #AEADAD;
  }
  body main section article:nth-child(2) .separador {
    width: 100%;
    height: 1px;
    background-color: #f2f2f2;
    margin-bottom: 25px;
  }
  body main section article:nth-child(2) div:nth-child(3),
body main section article:nth-child(2) div:nth-child(5),
body main section article:nth-child(2) div:nth-child(7) {
    display: grid;
    justify-content: start;
    width: 100%;
    grid-template-columns: 100px 85%;
    grid-template-areas: "box1 box2" "box1 box3" "box1 box4";
  }
  body main section article:nth-child(2) div:nth-child(3) img,
body main section article:nth-child(2) div:nth-child(5) img,
body main section article:nth-child(2) div:nth-child(7) img {
    width: 80px;
    margin-right: 30px;
    grid-area: box1;
  }
  body main section article:nth-child(2) div:nth-child(3) h4,
body main section article:nth-child(2) div:nth-child(5) h4,
body main section article:nth-child(2) div:nth-child(7) h4 {
    grid-area: box2;
    width: 100%;
  }
  body main section article:nth-child(2) div:nth-child(3) p,
body main section article:nth-child(2) div:nth-child(5) p,
body main section article:nth-child(2) div:nth-child(7) p {
    grid-area: box3;
    width: 100%;
    color: #AEADAD;
  }
  body main section article:nth-child(2) div:nth-child(3) .elements,
body main section article:nth-child(2) div:nth-child(5) .elements,
body main section article:nth-child(2) div:nth-child(7) .elements {
    grid-area: box4;
    display: flex;
    align-items: center;
    width: 100%;
  }
  body main section article:nth-child(2) div:nth-child(3) .elements .likes,
body main section article:nth-child(2) div:nth-child(5) .elements .likes,
body main section article:nth-child(2) div:nth-child(7) .elements .likes {
    grid-area: box4;
    display: flex;
    align-items: center;
    width: 48px;
    height: 24px;
    border: 1px solid #e9e9e9;
    margin-right: 20px;
    border-radius: 4px;
  }
  body main section article:nth-child(2) div:nth-child(3) .elements .likes img,
body main section article:nth-child(2) div:nth-child(5) .elements .likes img,
body main section article:nth-child(2) div:nth-child(7) .elements .likes img {
    margin: 0;
    width: 25px;
    height: 40px;
  }
  body main section article:nth-child(2) div:nth-child(3) .elements .comments,
body main section article:nth-child(2) div:nth-child(5) .elements .comments,
body main section article:nth-child(2) div:nth-child(7) .elements .comments {
    grid-area: box5;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: left;
    width: 50px;
    height: 24px;
    border: 1px solid #e9e9e9;
    border-radius: 4px;
  }
  body main section article:nth-child(2) div:nth-child(3) .elements .comments img,
body main section article:nth-child(2) div:nth-child(5) .elements .comments img,
body main section article:nth-child(2) div:nth-child(7) .elements .comments img {
    width: 15px;
    height: 12px;
    margin-right: 5px;
  }
  body main section article:nth-child(2) div:nth-child(3) .elements .comments label,
body main section article:nth-child(2) div:nth-child(5) .elements .comments label,
body main section article:nth-child(2) div:nth-child(7) .elements .comments label {
    color: #AEADAD;
  }
  body main section article:nth-child(2) div:nth-child(3) .elements .phone,
body main section article:nth-child(2) div:nth-child(5) .elements .phone,
body main section article:nth-child(2) div:nth-child(7) .elements .phone {
    display: none;
  }
  body aside {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  body {
    display: grid;
    grid-template-columns: 3% 47% 47% 3%;
    grid-template-areas: "box1 box1 box1 box1" ". box2 box2 ." ". box3 box3 .";
    background-color: #F9F9F9;
    /* NAVIGATION */
    /* HEADER */
    /* MAIN */
    /* ASIDE */
  }
  body nav {
    position: fixed;
    grid-area: box1;
    width: 94%;
    height: 97px;
    padding-left: 3%;
    padding-right: 3%;
    background-color: #FFF;
    border-bottom: 2px solid #e9e9e9;
    color: #AEADAD;
  }
  body nav .buscador {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  body nav .buscador img {
    width: 50px;
  }
  body nav .buscador input {
    height: 25px;
    width: 78%;
    padding-left: 30px;
    border: 1px solid #f2f2f2;
    background-image: url("../images/search.png");
    background-repeat: no-repeat;
    background-position: left center;
  }
  body nav .navegacio {
    border-top: 1px solid #f2f2f2;
  }
  body nav .navegacio ul {
    display: flex;
    justify-content: space-between;
  }
  body nav .navegacio ul li {
    padding: 14px;
    font-size: 13px;
  }
  body nav .navegacio ul li img {
    width: 15px;
  }
  body nav .navegacio ul li:nth-child(1) {
    color: black;
    background-color: #f2f2f2;
  }
  body nav .navegacio ul li:nth-child(8),
body nav .navegacio ul li:nth-child(9),
body nav .navegacio ul li:nth-child(10) {
    display: none;
  }
  body header {
    grid-area: box2;
    display: grid;
    grid-template-columns: 12% 30% 18% 29% 9% 2%;
    grid-template-rows: repeat(4, 25%);
    grid-template-areas: ". . . . . ." "elm1 elm2 elm3 elm3 elm6 ." ". elm4 elm4 elm5 . .";
    margin-top: 127px;
    margin-bottom: 30px;
    height: 130px;
    background-color: #FFF;
    border: 1px solid #e9e9e9;
  }
  body header img:nth-child(1) {
    align-self: center;
    justify-self: end;
    grid-area: elm1;
    width: 25px;
    height: 25px;
  }
  body header h4 {
    align-self: center;
    justify-self: center;
    grid-area: elm2;
    font-weight: bold;
  }
  body header p {
    align-self: center;
    justify-self: center;
    grid-area: elm3;
    color: #AEADAD;
  }
  body header input {
    align-self: center;
    justify-self: end;
    margin-right: 10px;
    grid-area: elm4;
    padding: 10px;
    border: 1px solid #e9e9e9;
    color: red;
    font-size: 15px;
  }
  body header button {
    align-self: center;
    justify-self: start;
    grid-area: elm5;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #e37f63;
    background-color: #da552f;
    font-weight: bold;
    color: #F9F9F9;
  }
  body header .cross {
    align-self: center;
    justify-self: end;
    grid-area: elm6;
    width: 15px;
  }
  body main {
    width: 100%;
    grid-area: box3;
    margin-bottom: 30px;
    background-color: #F9F9F9;
  }
  body main section article:nth-child(1) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2%;
    margin-bottom: 30px;
    background-color: #FFF;
    border: 1px solid #e9e9e9;
  }
  body main section article:nth-child(1) > div:nth-child(1) {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 19px;
  }
  body main section article:nth-child(1) .separador {
    width: 100%;
    height: 1px;
    background-color: #f2f2f2;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  body main section article:nth-child(1) div:nth-child(3),
body main section article:nth-child(1) div:nth-child(5),
body main section article:nth-child(1) div:nth-child(7) {
    display: grid;
    justify-content: start;
    width: 100%;
    grid-template-columns: 100px 85%;
    grid-template-areas: "box1 box2" "box1 box3" "box1 box4";
  }
  body main section article:nth-child(1) div:nth-child(3) img,
body main section article:nth-child(1) div:nth-child(5) img,
body main section article:nth-child(1) div:nth-child(7) img {
    width: 80px;
    margin-right: 30px;
    grid-area: box1;
  }
  body main section article:nth-child(1) div:nth-child(3) h4,
body main section article:nth-child(1) div:nth-child(5) h4,
body main section article:nth-child(1) div:nth-child(7) h4 {
    grid-area: box2;
    width: 100%;
  }
  body main section article:nth-child(1) div:nth-child(3) p,
body main section article:nth-child(1) div:nth-child(5) p,
body main section article:nth-child(1) div:nth-child(7) p {
    grid-area: box3;
    width: 100%;
    color: #AEADAD;
  }
  body main section article:nth-child(1) div:nth-child(3) .elements,
body main section article:nth-child(1) div:nth-child(5) .elements,
body main section article:nth-child(1) div:nth-child(7) .elements {
    grid-area: box4;
    display: flex;
    align-items: center;
    width: 100%;
  }
  body main section article:nth-child(1) div:nth-child(3) .elements .likes,
body main section article:nth-child(1) div:nth-child(5) .elements .likes,
body main section article:nth-child(1) div:nth-child(7) .elements .likes {
    grid-area: box4;
    display: flex;
    align-items: center;
    width: 68px;
    height: 24px;
    border: 1px solid #e9e9e9;
    margin-right: 20px;
    border-radius: 4px;
  }
  body main section article:nth-child(1) div:nth-child(3) .elements .likes img,
body main section article:nth-child(1) div:nth-child(5) .elements .likes img,
body main section article:nth-child(1) div:nth-child(7) .elements .likes img {
    margin: 0;
    width: 25px;
    height: 40px;
  }
  body main section article:nth-child(1) div:nth-child(3) .elements .comments,
body main section article:nth-child(1) div:nth-child(5) .elements .comments,
body main section article:nth-child(1) div:nth-child(7) .elements .comments {
    grid-area: box5;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: left;
    width: 50px;
    height: 24px;
    border: 1px solid #e9e9e9;
    border-radius: 4px;
  }
  body main section article:nth-child(1) div:nth-child(3) .elements .comments img,
body main section article:nth-child(1) div:nth-child(5) .elements .comments img,
body main section article:nth-child(1) div:nth-child(7) .elements .comments img {
    width: 15px;
    height: 12px;
    margin-right: 5px;
  }
  body main section article:nth-child(1) div:nth-child(3) .elements .comments label,
body main section article:nth-child(1) div:nth-child(5) .elements .comments label,
body main section article:nth-child(1) div:nth-child(7) .elements .comments label {
    color: #AEADAD;
  }
  body main section article:nth-child(1) div:nth-child(3) .elements .phone,
body main section article:nth-child(1) div:nth-child(5) .elements .phone,
body main section article:nth-child(1) div:nth-child(7) .elements .phone {
    grid-area: box6;
    display: flex;
    align-items: center;
    margin-left: auto;
    width: auto;
    margin-right: -5%;
  }
  body main section article:nth-child(1) div:nth-child(3) .elements .phone div,
body main section article:nth-child(1) div:nth-child(5) .elements .phone div,
body main section article:nth-child(1) div:nth-child(7) .elements .phone div {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    margin-right: 5px;
    font-size: 14px;
    border-radius: 2px;
    background-color: #f2f2f2;
  }
  body main section article:nth-child(1) div:nth-child(3) .elements .phone p,
body main section article:nth-child(1) div:nth-child(5) .elements .phone p,
body main section article:nth-child(1) div:nth-child(7) .elements .phone p {
    width: 45px;
    font-size: 14px;
    font-weight: bold;
  }
  body main section article:nth-child(1) div:nth-child(8) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    font-size: 14px;
    color: #AEADAD;
  }
  body main section article:nth-child(1) div:nth-child(8) img {
    width: 10px;
    margin-right: 5px;
  }
  body main section article:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2%;
    margin-bottom: 30px;
    background-color: #FFF;
    border: 1px solid #e9e9e9;
  }
  body main section article:nth-child(2) > div:nth-child(1) {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 19px;
  }
  body main section article:nth-child(2) > div:nth-child(1) .pop-new {
    display: flex;
    justify-content: space-between;
    width: 130px;
    font-size: 14px;
  }
  body main section article:nth-child(2) > div:nth-child(1) .pop-new .separador {
    background-color: #AEADAD;
    height: 15px;
    width: 1px;
  }
  body main section article:nth-child(2) > div:nth-child(1) .pop-new p:nth-child(3) {
    color: #AEADAD;
  }
  body main section article:nth-child(2) .separador {
    width: 100%;
    height: 1px;
    background-color: #f2f2f2;
    margin-bottom: 25px;
  }
  body main section article:nth-child(2) div:nth-child(3),
body main section article:nth-child(2) div:nth-child(5),
body main section article:nth-child(2) div:nth-child(7) {
    display: grid;
    justify-content: start;
    width: 100%;
    grid-template-columns: 100px 85%;
    grid-template-areas: "box1 box2" "box1 box3" "box1 box4";
  }
  body main section article:nth-child(2) div:nth-child(3) img,
body main section article:nth-child(2) div:nth-child(5) img,
body main section article:nth-child(2) div:nth-child(7) img {
    width: 80px;
    margin-right: 30px;
    grid-area: box1;
  }
  body main section article:nth-child(2) div:nth-child(3) h4,
body main section article:nth-child(2) div:nth-child(5) h4,
body main section article:nth-child(2) div:nth-child(7) h4 {
    grid-area: box2;
    width: 100%;
  }
  body main section article:nth-child(2) div:nth-child(3) p,
body main section article:nth-child(2) div:nth-child(5) p,
body main section article:nth-child(2) div:nth-child(7) p {
    grid-area: box3;
    width: 100%;
    color: #AEADAD;
  }
  body main section article:nth-child(2) div:nth-child(3) .elements,
body main section article:nth-child(2) div:nth-child(5) .elements,
body main section article:nth-child(2) div:nth-child(7) .elements {
    grid-area: box4;
    display: flex;
    align-items: center;
    width: 100%;
  }
  body main section article:nth-child(2) div:nth-child(3) .elements .likes,
body main section article:nth-child(2) div:nth-child(5) .elements .likes,
body main section article:nth-child(2) div:nth-child(7) .elements .likes {
    grid-area: box4;
    display: flex;
    align-items: center;
    width: 48px;
    height: 24px;
    border: 1px solid #e9e9e9;
    margin-right: 20px;
    border-radius: 4px;
  }
  body main section article:nth-child(2) div:nth-child(3) .elements .likes img,
body main section article:nth-child(2) div:nth-child(5) .elements .likes img,
body main section article:nth-child(2) div:nth-child(7) .elements .likes img {
    margin: 0;
    width: 25px;
    height: 40px;
  }
  body main section article:nth-child(2) div:nth-child(3) .elements .comments,
body main section article:nth-child(2) div:nth-child(5) .elements .comments,
body main section article:nth-child(2) div:nth-child(7) .elements .comments {
    grid-area: box5;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: left;
    width: 50px;
    height: 24px;
    border: 1px solid #e9e9e9;
    border-radius: 4px;
  }
  body main section article:nth-child(2) div:nth-child(3) .elements .comments img,
body main section article:nth-child(2) div:nth-child(5) .elements .comments img,
body main section article:nth-child(2) div:nth-child(7) .elements .comments img {
    width: 15px;
    height: 12px;
    margin-right: 5px;
  }
  body main section article:nth-child(2) div:nth-child(3) .elements .comments label,
body main section article:nth-child(2) div:nth-child(5) .elements .comments label,
body main section article:nth-child(2) div:nth-child(7) .elements .comments label {
    color: #AEADAD;
  }
  body main section article:nth-child(2) div:nth-child(3) .elements .phone,
body main section article:nth-child(2) div:nth-child(5) .elements .phone,
body main section article:nth-child(2) div:nth-child(7) .elements .phone {
    grid-area: box6;
    display: flex;
    align-items: center;
    margin-left: auto;
    width: auto;
    margin-right: -5%;
  }
  body main section article:nth-child(2) div:nth-child(3) .elements .phone div,
body main section article:nth-child(2) div:nth-child(5) .elements .phone div,
body main section article:nth-child(2) div:nth-child(7) .elements .phone div {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    margin-right: 5px;
    font-size: 14px;
    border-radius: 2px;
    background-color: #f2f2f2;
  }
  body main section article:nth-child(2) div:nth-child(3) .elements .phone p,
body main section article:nth-child(2) div:nth-child(5) .elements .phone p,
body main section article:nth-child(2) div:nth-child(7) .elements .phone p {
    width: 45px;
    font-size: 14px;
    font-weight: bold;
  }
  body aside {
    display: none;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  body {
    display: grid;
    grid-template-columns: 3% 47% 47% 3%;
    grid-template-areas: "box1 box1 box1 box1" ". box2 box2 ." ". box3 box3 .";
    background-color: #F9F9F9;
    /* NAVIGATION */
    /* HEADER */
    /* MAIN */
    /* ASIDE */
  }
  body nav {
    position: fixed;
    grid-area: box1;
    width: 94%;
    height: 97px;
    padding-left: 3%;
    padding-right: 3%;
    background-color: #FFF;
    border-bottom: 2px solid #e9e9e9;
    color: #AEADAD;
  }
  body nav .buscador {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  body nav .buscador img {
    width: 50px;
  }
  body nav .buscador input {
    height: 25px;
    width: 83%;
    padding-left: 30px;
    border: 1px solid #f2f2f2;
    background-image: url("../images/search.png");
    background-repeat: no-repeat;
    background-position: left center;
  }
  body nav .navegacio {
    border-top: 1px solid #f2f2f2;
  }
  body nav .navegacio ul {
    display: flex;
    justify-content: space-between;
  }
  body nav .navegacio ul li {
    padding: 14px;
    font-size: 13px;
  }
  body nav .navegacio ul li img {
    width: 15px;
  }
  body nav .navegacio ul li:nth-child(1) {
    color: black;
    background-color: #f2f2f2;
  }
  body header {
    padding-left: 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-area: box2;
    margin-top: 127px;
    margin-bottom: 30px;
    height: 70px;
    background-color: #FFF;
    border: 1px solid #e9e9e9;
  }
  body header img:nth-child(1) {
    width: 25px;
    height: 25px;
    margin-right: 7px;
  }
  body header h4 {
    font-weight: bold;
    margin-right: 10px;
  }
  body header p {
    margin-right: 15px;
    color: #AEADAD;
  }
  body header input {
    padding: 10px;
    border: 1px solid #e9e9e9;
    color: red;
    font-size: 15px;
  }
  body header button {
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #e37f63;
    background-color: #da552f;
    font-weight: bold;
    color: #F9F9F9;
  }
  body header .cross {
    width: 15px;
    padding-left: 10%;
    padding-right: 2%;
  }
  body main {
    width: 100%;
    grid-area: box3;
    margin-bottom: 30px;
    background-color: #F9F9F9;
  }
  body main section article:nth-child(1) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2%;
    margin-bottom: 30px;
    background-color: #FFF;
    border: 1px solid #e9e9e9;
  }
  body main section article:nth-child(1) > div:nth-child(1) {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 19px;
  }
  body main section article:nth-child(1) .separador {
    width: 100%;
    height: 1px;
    background-color: #f2f2f2;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  body main section article:nth-child(1) div:nth-child(3),
body main section article:nth-child(1) div:nth-child(5),
body main section article:nth-child(1) div:nth-child(7) {
    display: grid;
    justify-content: start;
    width: 100%;
    grid-template-columns: 100px 85%;
    grid-template-areas: "box1 box2" "box1 box3" "box1 box4";
  }
  body main section article:nth-child(1) div:nth-child(3) img,
body main section article:nth-child(1) div:nth-child(5) img,
body main section article:nth-child(1) div:nth-child(7) img {
    width: 80px;
    margin-right: 30px;
    grid-area: box1;
  }
  body main section article:nth-child(1) div:nth-child(3) h4,
body main section article:nth-child(1) div:nth-child(5) h4,
body main section article:nth-child(1) div:nth-child(7) h4 {
    grid-area: box2;
    width: 100%;
  }
  body main section article:nth-child(1) div:nth-child(3) p,
body main section article:nth-child(1) div:nth-child(5) p,
body main section article:nth-child(1) div:nth-child(7) p {
    grid-area: box3;
    width: 100%;
    color: #AEADAD;
  }
  body main section article:nth-child(1) div:nth-child(3) .elements,
body main section article:nth-child(1) div:nth-child(5) .elements,
body main section article:nth-child(1) div:nth-child(7) .elements {
    grid-area: box4;
    display: flex;
    align-items: center;
    width: 100%;
  }
  body main section article:nth-child(1) div:nth-child(3) .elements .likes,
body main section article:nth-child(1) div:nth-child(5) .elements .likes,
body main section article:nth-child(1) div:nth-child(7) .elements .likes {
    grid-area: box4;
    display: flex;
    align-items: center;
    width: 68px;
    height: 24px;
    border: 1px solid #e9e9e9;
    margin-right: 20px;
    border-radius: 4px;
  }
  body main section article:nth-child(1) div:nth-child(3) .elements .likes img,
body main section article:nth-child(1) div:nth-child(5) .elements .likes img,
body main section article:nth-child(1) div:nth-child(7) .elements .likes img {
    margin: 0;
    width: 25px;
    height: 40px;
  }
  body main section article:nth-child(1) div:nth-child(3) .elements .comments,
body main section article:nth-child(1) div:nth-child(5) .elements .comments,
body main section article:nth-child(1) div:nth-child(7) .elements .comments {
    grid-area: box5;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: left;
    width: 50px;
    height: 24px;
    border: 1px solid #e9e9e9;
    border-radius: 4px;
  }
  body main section article:nth-child(1) div:nth-child(3) .elements .comments img,
body main section article:nth-child(1) div:nth-child(5) .elements .comments img,
body main section article:nth-child(1) div:nth-child(7) .elements .comments img {
    width: 15px;
    height: 12px;
    margin-right: 5px;
  }
  body main section article:nth-child(1) div:nth-child(3) .elements .comments label,
body main section article:nth-child(1) div:nth-child(5) .elements .comments label,
body main section article:nth-child(1) div:nth-child(7) .elements .comments label {
    color: #AEADAD;
  }
  body main section article:nth-child(1) div:nth-child(3) .elements .phone,
body main section article:nth-child(1) div:nth-child(5) .elements .phone,
body main section article:nth-child(1) div:nth-child(7) .elements .phone {
    grid-area: box6;
    display: flex;
    align-items: center;
    margin-left: auto;
    width: auto;
    margin-right: -5%;
  }
  body main section article:nth-child(1) div:nth-child(3) .elements .phone div,
body main section article:nth-child(1) div:nth-child(5) .elements .phone div,
body main section article:nth-child(1) div:nth-child(7) .elements .phone div {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    margin-right: 5px;
    font-size: 14px;
    border-radius: 2px;
    background-color: #f2f2f2;
  }
  body main section article:nth-child(1) div:nth-child(3) .elements .phone p,
body main section article:nth-child(1) div:nth-child(5) .elements .phone p,
body main section article:nth-child(1) div:nth-child(7) .elements .phone p {
    width: 45px;
    font-size: 14px;
    font-weight: bold;
  }
  body main section article:nth-child(1) div:nth-child(8) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    font-size: 14px;
    color: #AEADAD;
  }
  body main section article:nth-child(1) div:nth-child(8) img {
    width: 10px;
    margin-right: 5px;
  }
  body main section article:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2%;
    margin-bottom: 30px;
    background-color: #FFF;
    border: 1px solid #e9e9e9;
  }
  body main section article:nth-child(2) > div:nth-child(1) {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 19px;
  }
  body main section article:nth-child(2) > div:nth-child(1) .pop-new {
    display: flex;
    justify-content: space-between;
    width: 130px;
    font-size: 14px;
  }
  body main section article:nth-child(2) > div:nth-child(1) .pop-new .separador {
    background-color: #AEADAD;
    height: 15px;
    width: 1px;
  }
  body main section article:nth-child(2) > div:nth-child(1) .pop-new p:nth-child(3) {
    color: #AEADAD;
  }
  body main section article:nth-child(2) .separador {
    width: 100%;
    height: 1px;
    background-color: #f2f2f2;
    margin-bottom: 25px;
  }
  body main section article:nth-child(2) div:nth-child(3),
body main section article:nth-child(2) div:nth-child(5),
body main section article:nth-child(2) div:nth-child(7) {
    display: grid;
    justify-content: start;
    width: 100%;
    grid-template-columns: 100px 85%;
    grid-template-areas: "box1 box2" "box1 box3" "box1 box4";
  }
  body main section article:nth-child(2) div:nth-child(3) img,
body main section article:nth-child(2) div:nth-child(5) img,
body main section article:nth-child(2) div:nth-child(7) img {
    width: 80px;
    margin-right: 30px;
    grid-area: box1;
  }
  body main section article:nth-child(2) div:nth-child(3) h4,
body main section article:nth-child(2) div:nth-child(5) h4,
body main section article:nth-child(2) div:nth-child(7) h4 {
    grid-area: box2;
    width: 100%;
  }
  body main section article:nth-child(2) div:nth-child(3) p,
body main section article:nth-child(2) div:nth-child(5) p,
body main section article:nth-child(2) div:nth-child(7) p {
    grid-area: box3;
    width: 100%;
    color: #AEADAD;
  }
  body main section article:nth-child(2) div:nth-child(3) .elements,
body main section article:nth-child(2) div:nth-child(5) .elements,
body main section article:nth-child(2) div:nth-child(7) .elements {
    grid-area: box4;
    display: flex;
    align-items: center;
    width: 100%;
  }
  body main section article:nth-child(2) div:nth-child(3) .elements .likes,
body main section article:nth-child(2) div:nth-child(5) .elements .likes,
body main section article:nth-child(2) div:nth-child(7) .elements .likes {
    grid-area: box4;
    display: flex;
    align-items: center;
    width: 48px;
    height: 24px;
    border: 1px solid #e9e9e9;
    margin-right: 20px;
    border-radius: 4px;
  }
  body main section article:nth-child(2) div:nth-child(3) .elements .likes img,
body main section article:nth-child(2) div:nth-child(5) .elements .likes img,
body main section article:nth-child(2) div:nth-child(7) .elements .likes img {
    margin: 0;
    width: 25px;
    height: 40px;
  }
  body main section article:nth-child(2) div:nth-child(3) .elements .comments,
body main section article:nth-child(2) div:nth-child(5) .elements .comments,
body main section article:nth-child(2) div:nth-child(7) .elements .comments {
    grid-area: box5;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: left;
    width: 50px;
    height: 24px;
    border: 1px solid #e9e9e9;
    border-radius: 4px;
  }
  body main section article:nth-child(2) div:nth-child(3) .elements .comments img,
body main section article:nth-child(2) div:nth-child(5) .elements .comments img,
body main section article:nth-child(2) div:nth-child(7) .elements .comments img {
    width: 15px;
    height: 12px;
    margin-right: 5px;
  }
  body main section article:nth-child(2) div:nth-child(3) .elements .comments label,
body main section article:nth-child(2) div:nth-child(5) .elements .comments label,
body main section article:nth-child(2) div:nth-child(7) .elements .comments label {
    color: #AEADAD;
  }
  body main section article:nth-child(2) div:nth-child(3) .elements .phone,
body main section article:nth-child(2) div:nth-child(5) .elements .phone,
body main section article:nth-child(2) div:nth-child(7) .elements .phone {
    grid-area: box6;
    display: flex;
    align-items: center;
    margin-left: auto;
    width: auto;
    margin-right: -5%;
  }
  body main section article:nth-child(2) div:nth-child(3) .elements .phone div,
body main section article:nth-child(2) div:nth-child(5) .elements .phone div,
body main section article:nth-child(2) div:nth-child(7) .elements .phone div {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    margin-right: 5px;
    font-size: 14px;
    border-radius: 2px;
    background-color: #f2f2f2;
  }
  body main section article:nth-child(2) div:nth-child(3) .elements .phone p,
body main section article:nth-child(2) div:nth-child(5) .elements .phone p,
body main section article:nth-child(2) div:nth-child(7) .elements .phone p {
    width: 45px;
    font-size: 14px;
    font-weight: bold;
  }
  body aside {
    display: none;
  }
}
@media (min-width: 1200px) {
  body {
    display: grid;
    grid-template-columns: 12% 56% 20% 12%;
    grid-template-areas: "box1 box1 box1 box1" ". box2 box2 ." ". box3 box4 .";
    background-color: #F9F9F9;
    /* NAVIGATION */
    /* HEADER */
    /* MAIN */
    /* ASIDE */
  }
  body nav {
    position: fixed;
    grid-area: box1;
    width: 76%;
    height: 97px;
    padding-left: 12%;
    padding-right: 12%;
    background-color: #FFF;
    border-bottom: 2px solid #e9e9e9;
    color: #AEADAD;
  }
  body nav .buscador {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  body nav .buscador img {
    width: 50px;
  }
  body nav .buscador input {
    height: 25px;
    width: 83%;
    padding-left: 30px;
    border: 1px solid #f2f2f2;
    background-image: url("../images/search.png");
    background-repeat: no-repeat;
    background-position: left center;
  }
  body nav .navegacio {
    border-top: 1px solid #f2f2f2;
  }
  body nav .navegacio ul {
    display: flex;
    justify-content: space-between;
  }
  body nav .navegacio ul li {
    padding: 14px;
    font-size: 13px;
  }
  body nav .navegacio ul li img {
    width: 15px;
  }
  body nav .navegacio ul li:nth-child(1) {
    color: black;
    background-color: #f2f2f2;
  }
  body header {
    padding-left: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-area: box2;
    margin-top: 127px;
    margin-bottom: 30px;
    height: 70px;
    background-color: #FFF;
    border: 1px solid #e9e9e9;
  }
  body header img:nth-child(1) {
    width: 25px;
    height: 25px;
    margin-right: 7px;
  }
  body header h4 {
    font-weight: bold;
    margin-right: 10px;
  }
  body header p {
    margin-right: 15px;
    color: #AEADAD;
  }
  body header input {
    padding: 10px;
    border: 1px solid #e9e9e9;
    color: red;
    font-size: 15px;
  }
  body header button {
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #e37f63;
    background-color: #da552f;
    font-weight: bold;
    color: #F9F9F9;
  }
  body header .cross {
    width: 15px;
    padding-left: 10%;
    padding-right: 2%;
  }
  body main {
    grid-area: box3;
    margin-right: 22px;
    margin-bottom: 30px;
    background-color: #F9F9F9;
  }
  body main section article:nth-child(1) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2%;
    margin-bottom: 30px;
    background-color: #FFF;
    border: 1px solid #e9e9e9;
  }
  body main section article:nth-child(1) > div:nth-child(1) {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 19px;
  }
  body main section article:nth-child(1) .separador {
    width: 100%;
    height: 1px;
    background-color: #f2f2f2;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  body main section article:nth-child(1) div:nth-child(3),
body main section article:nth-child(1) div:nth-child(5),
body main section article:nth-child(1) div:nth-child(7) {
    display: grid;
    justify-content: start;
    width: 100%;
    grid-template-columns: 100px 85%;
    grid-template-areas: "box1 box2" "box1 box3" "box1 box4";
  }
  body main section article:nth-child(1) div:nth-child(3) img,
body main section article:nth-child(1) div:nth-child(5) img,
body main section article:nth-child(1) div:nth-child(7) img {
    width: 80px;
    margin-right: 30px;
    grid-area: box1;
  }
  body main section article:nth-child(1) div:nth-child(3) h4,
body main section article:nth-child(1) div:nth-child(5) h4,
body main section article:nth-child(1) div:nth-child(7) h4 {
    grid-area: box2;
    width: 100%;
  }
  body main section article:nth-child(1) div:nth-child(3) p,
body main section article:nth-child(1) div:nth-child(5) p,
body main section article:nth-child(1) div:nth-child(7) p {
    grid-area: box3;
    width: 100%;
    color: #AEADAD;
  }
  body main section article:nth-child(1) div:nth-child(3) .elements,
body main section article:nth-child(1) div:nth-child(5) .elements,
body main section article:nth-child(1) div:nth-child(7) .elements {
    grid-area: box4;
    display: flex;
    align-items: center;
    width: 100%;
  }
  body main section article:nth-child(1) div:nth-child(3) .elements .likes,
body main section article:nth-child(1) div:nth-child(5) .elements .likes,
body main section article:nth-child(1) div:nth-child(7) .elements .likes {
    grid-area: box4;
    display: flex;
    align-items: center;
    width: 68px;
    height: 24px;
    border: 1px solid #e9e9e9;
    margin-right: 20px;
    border-radius: 4px;
  }
  body main section article:nth-child(1) div:nth-child(3) .elements .likes img,
body main section article:nth-child(1) div:nth-child(5) .elements .likes img,
body main section article:nth-child(1) div:nth-child(7) .elements .likes img {
    margin: 0;
    width: 25px;
    height: 40px;
  }
  body main section article:nth-child(1) div:nth-child(3) .elements .comments,
body main section article:nth-child(1) div:nth-child(5) .elements .comments,
body main section article:nth-child(1) div:nth-child(7) .elements .comments {
    grid-area: box5;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: left;
    width: 50px;
    height: 24px;
    border: 1px solid #e9e9e9;
    border-radius: 4px;
  }
  body main section article:nth-child(1) div:nth-child(3) .elements .comments img,
body main section article:nth-child(1) div:nth-child(5) .elements .comments img,
body main section article:nth-child(1) div:nth-child(7) .elements .comments img {
    width: 15px;
    height: 12px;
    margin-right: 5px;
  }
  body main section article:nth-child(1) div:nth-child(3) .elements .comments label,
body main section article:nth-child(1) div:nth-child(5) .elements .comments label,
body main section article:nth-child(1) div:nth-child(7) .elements .comments label {
    color: #AEADAD;
  }
  body main section article:nth-child(1) div:nth-child(3) .elements .phone,
body main section article:nth-child(1) div:nth-child(5) .elements .phone,
body main section article:nth-child(1) div:nth-child(7) .elements .phone {
    grid-area: box6;
    display: flex;
    align-items: center;
    margin-left: auto;
    width: auto;
    margin-right: -5%;
  }
  body main section article:nth-child(1) div:nth-child(3) .elements .phone div,
body main section article:nth-child(1) div:nth-child(5) .elements .phone div,
body main section article:nth-child(1) div:nth-child(7) .elements .phone div {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    margin-right: 5px;
    font-size: 14px;
    border-radius: 2px;
    background-color: #f2f2f2;
  }
  body main section article:nth-child(1) div:nth-child(3) .elements .phone p,
body main section article:nth-child(1) div:nth-child(5) .elements .phone p,
body main section article:nth-child(1) div:nth-child(7) .elements .phone p {
    width: 45px;
    font-size: 14px;
    font-weight: bold;
  }
  body main section article:nth-child(1) div:nth-child(8) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    font-size: 14px;
    color: #AEADAD;
  }
  body main section article:nth-child(1) div:nth-child(8) img {
    width: 10px;
    margin-right: 5px;
  }
  body main section article:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2%;
    margin-bottom: 30px;
    background-color: #FFF;
    border: 1px solid #e9e9e9;
  }
  body main section article:nth-child(2) > div:nth-child(1) {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 19px;
  }
  body main section article:nth-child(2) > div:nth-child(1) .pop-new {
    display: flex;
    justify-content: space-between;
    width: 130px;
    font-size: 14px;
  }
  body main section article:nth-child(2) > div:nth-child(1) .pop-new .separador {
    background-color: #AEADAD;
    height: 15px;
    width: 1px;
  }
  body main section article:nth-child(2) > div:nth-child(1) .pop-new p:nth-child(3) {
    color: #AEADAD;
  }
  body main section article:nth-child(2) .separador {
    width: 100%;
    height: 1px;
    background-color: #f2f2f2;
    margin-bottom: 25px;
  }
  body main section article:nth-child(2) div:nth-child(3),
body main section article:nth-child(2) div:nth-child(5),
body main section article:nth-child(2) div:nth-child(7) {
    display: grid;
    justify-content: start;
    width: 100%;
    grid-template-columns: 100px 85%;
    grid-template-areas: "box1 box2" "box1 box3" "box1 box4";
  }
  body main section article:nth-child(2) div:nth-child(3) img,
body main section article:nth-child(2) div:nth-child(5) img,
body main section article:nth-child(2) div:nth-child(7) img {
    width: 80px;
    margin-right: 30px;
    grid-area: box1;
  }
  body main section article:nth-child(2) div:nth-child(3) h4,
body main section article:nth-child(2) div:nth-child(5) h4,
body main section article:nth-child(2) div:nth-child(7) h4 {
    grid-area: box2;
    width: 100%;
  }
  body main section article:nth-child(2) div:nth-child(3) p,
body main section article:nth-child(2) div:nth-child(5) p,
body main section article:nth-child(2) div:nth-child(7) p {
    grid-area: box3;
    width: 100%;
    color: #AEADAD;
  }
  body main section article:nth-child(2) div:nth-child(3) .elements,
body main section article:nth-child(2) div:nth-child(5) .elements,
body main section article:nth-child(2) div:nth-child(7) .elements {
    grid-area: box4;
    display: flex;
    align-items: center;
    width: 100%;
  }
  body main section article:nth-child(2) div:nth-child(3) .elements .likes,
body main section article:nth-child(2) div:nth-child(5) .elements .likes,
body main section article:nth-child(2) div:nth-child(7) .elements .likes {
    grid-area: box4;
    display: flex;
    align-items: center;
    width: 48px;
    height: 24px;
    border: 1px solid #e9e9e9;
    margin-right: 20px;
    border-radius: 4px;
  }
  body main section article:nth-child(2) div:nth-child(3) .elements .likes img,
body main section article:nth-child(2) div:nth-child(5) .elements .likes img,
body main section article:nth-child(2) div:nth-child(7) .elements .likes img {
    margin: 0;
    width: 25px;
    height: 40px;
  }
  body main section article:nth-child(2) div:nth-child(3) .elements .comments,
body main section article:nth-child(2) div:nth-child(5) .elements .comments,
body main section article:nth-child(2) div:nth-child(7) .elements .comments {
    grid-area: box5;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: left;
    width: 50px;
    height: 24px;
    border: 1px solid #e9e9e9;
    border-radius: 4px;
  }
  body main section article:nth-child(2) div:nth-child(3) .elements .comments img,
body main section article:nth-child(2) div:nth-child(5) .elements .comments img,
body main section article:nth-child(2) div:nth-child(7) .elements .comments img {
    width: 15px;
    height: 12px;
    margin-right: 5px;
  }
  body main section article:nth-child(2) div:nth-child(3) .elements .comments label,
body main section article:nth-child(2) div:nth-child(5) .elements .comments label,
body main section article:nth-child(2) div:nth-child(7) .elements .comments label {
    color: #AEADAD;
  }
  body main section article:nth-child(2) div:nth-child(3) .elements .phone,
body main section article:nth-child(2) div:nth-child(5) .elements .phone,
body main section article:nth-child(2) div:nth-child(7) .elements .phone {
    grid-area: box6;
    display: flex;
    align-items: center;
    margin-left: auto;
    width: auto;
    margin-right: -5%;
  }
  body main section article:nth-child(2) div:nth-child(3) .elements .phone div,
body main section article:nth-child(2) div:nth-child(5) .elements .phone div,
body main section article:nth-child(2) div:nth-child(7) .elements .phone div {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    margin-right: 5px;
    font-size: 14px;
    border-radius: 2px;
    background-color: #f2f2f2;
  }
  body main section article:nth-child(2) div:nth-child(3) .elements .phone p,
body main section article:nth-child(2) div:nth-child(5) .elements .phone p,
body main section article:nth-child(2) div:nth-child(7) .elements .phone p {
    width: 45px;
    font-size: 14px;
    font-weight: bold;
  }
  body aside {
    grid-area: box4;
  }
  body aside article {
    padding-top: 20px;
    padding-right: 25px;
    padding-left: 25px;
    border: 1px solid #e9e9e9;
    background-color: #FFF;
  }
  body aside article:nth-child(1) {
    display: flex;
    flex-direction: column;
    padding-bottom: 45px;
    margin-bottom: 30px;
  }
  body aside article:nth-child(1) .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  body aside article:nth-child(1) .title h4 {
    font-size: 23px;
  }
  body aside article:nth-child(1) .title img {
    width: 16px;
    height: 16px;
  }
  body aside article:nth-child(1) p {
    margin-bottom: 30px;
    font-size: 18px;
    color: #AEADAD;
  }
  body aside article:nth-child(1) button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #e37f63;
    background-color: #da552f;
    font-weight: bold;
    color: #F9F9F9;
    background-image: url("../images/logo2.png");
    background-repeat: no-repeat;
    background-position: 10% 50%;
    background-size: 20px;
  }
  body aside article:nth-child(2) h3 {
    font-size: 14px;
    font-weight: bold;
  }
  body aside article:nth-child(2) .separador {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 1px;
    background-color: #AEADAD;
  }
  body aside article:nth-child(2) div {
    display: flex;
    margin-bottom: 20px;
  }
  body aside article:nth-child(2) div img {
    border-radius: 50%;
    margin-right: 10px;
    width: 50px;
    height: 50px;
  }
  body aside article:nth-child(2) div div {
    display: flex;
    flex-direction: column;
  }
  body aside article:nth-child(2) div div h5 {
    font-weight: bold;
    margin-bottom: 5px;
  }
  body aside article:nth-child(2) div div p {
    color: #AEADAD;
    margin-bottom: 10px;
  }
  body aside article:nth-child(2) div div button {
    width: 95px;
    border: 1px solid #AEADAD;
    background-color: #FFF;
  }
  body aside article:nth-child(2) p:last-child {
    margin-bottom: 20px;
    text-align: center;
    font-size: 14px;
    text-decoration: none;
    color: #da552f;
  }
}
html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
html .cross {
  width: 18px;
  height: 15px;
}

/*# sourceMappingURL=style.css.map */
